<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Admin</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head> 
    <body class="text-center"> 
        <h1>Bem-vindo, <%= user.username %> (Admin)</h1> 
        <br><br>
        <div class="row" style="display: block;" align="center">
            <div class="col-4">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="/admin" role="tab" aria-controls="list-home">Painel Administrador</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="/contato" role="tab" aria-controls="list-profile">Contato</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="/relatorios" role="tab" aria-controls="list-messages">Relatórios</a>
              </div>
            </div>
            <div class="col-8">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"></div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"></div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"></div>
              </div>
            </div>
          </div>
            <br><br>
            <a class="btn btn-danger" href="/logout">Logout</a> 
     </body>
</html>